// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$primary-teal: #5BA2B9;
$secondary-teal: #518B99;
$light-teal: #8CDEF0;
$lighter-teal: #A6E6E6;
$accent-green: #4B9857;
$bright-teal: #2EC4B5;
$sage-green: #7B9F48;
$forest-green: #176406;
$olive: #B0B151;
$dark-green: #3E6029;
// para la pagina principal
:root {
  --forest-green: #{$forest-green};
  --primary-teal: #{$primary-teal};
  --secondary-teal: #{$secondary-teal};
  --accent-green: #{$accent-green};
  --bright-teal: #{$bright-teal};
  --dark-green: #{$dark-green};
  --white: #ffffff;
  --transition: all 0.3s ease;
}
