.btn:hover {
  filter: brightness(0.9);
}

$link-light-grey: $light-gray;
$primary-orange: $olive; //before: fed136
$footer-background-light-grey: $light-gray;
$footer-background-grey: $dark-green;
$social-buttons-circle-dark-grey: $light-gray;

a {
  color: $link-light-grey;
}
a:hover {
  color: $primary-orange;
  text-decoration: none;
}

::selection {
  background: $primary-orange;
  text-shadow: none;
}

footer {
  padding: 2rem 0;
  background-color: $forest-green;

  .footer-column:not(:first-child) {
    padding-top: 2rem;
    @media (min-width: 768px) {
      padding-top: 0rem;
    }
  }

  .footer-column {
    text-align: center;

    .nav-item {
      .nav-link {
        padding: 0.1rem 0;
        color: $light-gray;
      }

      span.nav-link {
        color: $light-gray;
      }

      span.footer-title {
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
      }

      .fas {
        margin-right: 0.5rem;
        color: $light-teal;
      }
    }

    ul {
      display: inline-block;
      @media (min-width: 768px) {
        text-align: left;
      }
    }
  }

  ul.social-buttons {
    margin-bottom: 0;

    li a {
      font-size: 20px;
      line-height: 40px;
      display: block;
      width: 40px;
      height: 40px;
      color: #fff;
      border-radius: 100%;
      outline: 0;
      background-color: $primary-teal;
      transition: all 0.3s;

      &:hover,
      &:focus,
      &:active {
        background-color: $accent-green;
      }
    }
  }

  .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    color: $light-gray;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .copyright {
    color: $light-gray;
  }

  .fa-ellipsis-h {
    color: $light-gray;
    padding: 2rem 0;
  }
}

#generic_price_table {
  background-color: #fff;
  margin: 50px 0;

  .price-heading h1 {
    font-family: 'Poppins', sans-serif;
    color: $accent-green;
    font-weight: 600;
  }

  .generic_content {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.3s;

    .generic_head_price {
      background-color: #fff; // BLANCO previo al hover
      margin-bottom: 20px;

      .generic_head_content {
        margin-bottom: 50px;
        position: relative;

        .head_bg {
          border-style: solid;
          border-width: 90px 1411px 23px 399px;
          border-color: #fff transparent transparent #fff; // BLANCO previo al hover
          position: absolute;
          transition: all 0.3s;
        }

        .head {
          padding-top: 40px;
          position: relative;
          z-index: 1;

          span {
            font-size: 28px;
            font-weight: 500;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $dark-green;
            transition: all 0.3s;
          }
        }
      }

      .generic_price_tag {
        padding-bottom: 20px;

        .price {
          display: block;

          .sign {
            font-size: 28px;
            color: $dark-green;
          }
          .currency {
            font-size: 60px;
            font-weight: 300;
            letter-spacing: -2px;
            color: $dark-green;
          }
          .month {
            font-size: 18px;
            letter-spacing: 3px;
            color: $dark-green;
          }
        }
      }
    }

    .generic_feature_list {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          font-size: 16px;
          padding: 15px 0;
          color: #6b6b6b;
          transition: all 0.3s;

          span {
            color: #414141;
          }

          &:hover {
            background-color: $light-gray;
            border-left: 5px solid $accent-green;
          }
        }
      }
    }

    .generic_price_btn {
      margin: 20px 0 32px;

      a {
        display: inline-block;
        padding: 12px 30px;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 50px;
        border: 1px solid $accent-green;
        color: $accent-green;
        transition: all 0.3s;
      }
    }

    &:hover {
      box-shadow: 0 0 15px rgba(73, 137, 87, 0.3);

      .generic_head_price .generic_head_content .head_bg {
        border-color: $accent-green transparent transparent $accent-green;
      }

      .generic_head_price .generic_head_content .head span {
        color: #fff;
      }

      .generic_price_btn a {
        background-color: $accent-green;
        color: #fff;
      }
    }
  }

  @media (min-width: 992px) {
    .col-md-4 {
      width: 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
  }

  @media (max-width: 767px) {
    .generic_content {
      margin-bottom: 75px;
    }
  }
}

.our-team-section {
  background: #fff;
  margin-top: 5rem;

  .section-title {
    font-family: $headers-font;
    font-size: 2rem;
    font-weight: 600;
    color: $accent-green;
    margin-bottom: 2rem;
  }
}

.our-team {
  padding: 1.2rem 0.75rem;
  background: #fff;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid $accent-green;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
  transition: all 0.3s ease;

  .pic {
    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    transition: all 0.5s ease;
  }

  &:hover .pic {
    background: $accent-green;
    border-radius: 50%;
  }

  .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .title {
    display: block;
    font-family: $headers-font;
    font-size: 1.5rem;
    font-weight: 600;
    color: $accent-green;
    margin: 0 0 0.5rem 0;
  }

  .post {
    display: block;
    font-family: $body-font;
    font-size: 1rem;
    color: $primary-teal;
    margin-bottom: 1rem;
  }

  .social {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-right: 5px;

      a {
        display: block;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        border-radius: 50%;
        font-size: 1rem;
        color: $primary-teal;
        border: 1px solid $primary-teal;
        transition: all 0.3s ease;

        i {
          line-height: 2rem;
        }

        &:hover {
          background: $primary-teal;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .our-team {
    margin-bottom: 2rem;
  }
}

.feature-card {
  background-color: transparent;
  width: 350px;
  height: 700px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.feature-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background: #fff;
  padding: 1rem;
  box-sizing: border-box;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-front i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.card-front h3 {
  text-align: center;
}

.card-back p {
  text-align: justify;
  font-size: 0.95rem;
}

.card-back {
  transform: rotateY(180deg);
}

.photo-wrapper {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid transparent;
  transition: border 0.3s ease;
}

.photo-wrapper:hover {
  border: 3px solid $accent-green;
}

.team-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimony-title {
  font-family: $headers-font;
  font-weight: 600;
  font-size: 2rem;
  color: $accent-green; // este es el mismo verde
  margin-bottom: 2rem;
  text-align: center;
}
