<div class="dashboard">
  <aside class="sidebar">
    <ul>
      <li><a href="#">My psychologist</a></li>
      <li><a href="#">Chat</a></li>
      <li><a href="#">My profile</a></li>
    </ul>
  </aside>

  <section class="main-content">
    <%= render "users/chat_ai" %>
  </section>
</div>
