<div class="dashboard-psychologist">
  <aside class="sidebar">
    <h2>Menú</h2>
    <ul>
      <li>Inicio</li>
      <li>Pacientes</li>
      <li><%= link_to "Schedules", schedules_path %></li>
      <li><%= link_to "Appointments", appointments_path %></li>
      <li>Sesiones</li>
      <li>Perfil</li>
      <li>Cerrar sesión</li>
    </ul>
  </aside>

  <section class="chat">
    <h2>Chat con el paciente</h2>
    <div class="chat-box">
      <p><strong>Paciente:</strong> Me siento ansioso últimamente.</p>
      <p><strong>Psicólogo:</strong> Vamos a explorar eso juntos.</p>
    </div>
  </section>
</div>
