<div class="container py-5">
  <div class="card shadow-lg p-4">
    <h2 class="mb-4 text-center fw-bold text-success">Available Psychologists</h2>
    <div class="table-responsive">
      <table class="table table-hover align-middle">
        <thead class="table-success">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Modality</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <% @psychologists.each do |psychologist| %>
            <tr>
              <td class="fw-semibold d-flex align-items-center gap-2">
                <% if psychologist.avatar.attached? %>
                  <%= cl_image_tag psychologist.avatar.key, class: "rounded-circle", style: "object-fit: cover; width: 40px; height: 40px;" %>
                <% else %>
                  <%= image_tag "default-avatar.png", class: "rounded-circle", style: "width: 40px; height: 40px;" %>
                <% end %>
                <%= psychologist.first_name %>

                <%= link_to 'More details', psychologist_path(psychologist.id), class: 'btn btn-outline-success btn-sm rounded-pill' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
