<div class="container py-5">
  <div class="card shadow-lg p-4">
    <h2 class="mb-4 text-center fw-bold text-success">Our available team</h2>
    <div class="table-responsive">
      <table class="table table-hover align-middle">
        <thead class="table-success">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Modality</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <% @psychologists.each do |psychologist| %>
            <tr>
              <td class="fw-semibold"><%= psychologist.first_name %></td>
              <td><%= psychologist.last_name %></td>
              <td><%= psychologist.psychologist_profile&.modelity %></td>
              <td>
                <%= link_to 'More details', psychologist_path(psychologist.id), class: 'btn btn-outline-success btn-sm rounded-pill' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
