  <%= link_to 'Back to new', new_schedule_path %>
<ul>
    <% @schedules.each do |schedule| %>
      <li>
          <%= schedule.date.strftime("%d/%m/%Y") %>
          <%= schedule.start_hour.strftime("%H:%M") %>
          <%= schedule.end_hour.strftime("%H:%M") %>
      </li>
    <% end %>
</ul>
