<turbo-stream target="messages" action="remove"></turbo-stream>

<turbo-stream target="chat_frame" action="update">
  <template>
    <div class="text-muted">Chat messages deleted.</div>
  </template>
</turbo-stream>
