<header class="header">
  <%= image_tag "logo.png", alt: "Logo", class: "logo" %>

  <div class="header-buttons">
    <%= link_to "Register", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Login", user_session_path ,class: "btn btn-secondary" %>
  </div>
</header>

<main class="main-content">
  <section class="info">
    <h2 class="info-title">What is?</h2>
    <p class="info-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>

  <section class="testimony">
    <h2 class="testimony-title">Testimony</h2>
    <div class="carrusel">
      <div class="testimony active">"Excelente servicio, lo recomiendo."</div>
      <div class="testimony">"Me ayudó a mejorar mi bienestar."</div>
      <div class="testimony">"Volvería a usar esta plataforma sin dudar."</div>
    </div>
  </section>
</main>
